.coin-stats-container {
    text-align: center;
    margin: 0 auto;
    max-width: 600px; /* Adjust as needed for screen width */
    padding: 20px;
  }
  
  .api-counter {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .coin-stats-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 2px solid #000; /* Add border around the entire table */
  }
  
  .coin-stats-table td {
    padding: 10px 15px;
    font-size: 16px;
    text-align: left;
  }
  
  .coin-stats-table tr td:first-child {
    font-weight: bold;
  }
  
  .coin-stats-table td {
    border: none; /* No borders on individual cells */
  }
  